<turbo-frame id="house_table">
    <div class="overflow-x-auto">

        <table>
            <thead>
            <tr>
                <th></th>
                <th>{{ 'table.name'|trans({}, 'house') }}</th>
                <th>{{ 'table.description'|trans({}, 'house') }}</th>
                <th>{{ 'table.performance_profile_count'|trans({}, 'house') }}</th>
                <th>{{ 'table.consumption_profile_count'|trans({}, 'house') }}</th>
                <th>{{ 'table.broker_profile_name'|trans({}, 'house') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for house in houses %}
                <tr>
                    <td>
                        {% if(house.isCurrent) %}
                            <wa-icon name="check-circle" class="hec-icon"></wa-icon>
                        {% endif %}
                    </td>
                    <td>{{ house.name }}</td>
                    <td>{{ house.description }}</td>
                    <td>{{ house.performanceProfileCount }}</td>
                    <td>{{ house.consumptionProfileCount }}</td>
                    <td>
                        <div class="flex items-center">
                            {{ house.brokerProfileName }}
                            {% if (house.hasActiveBrokerProfile == false and not house.hasActiveBrokerProfile is null) %}
                                <wa-tooltip for="{{ 'house_broker_profile_' ~ house.id }}">
                                    {{ 'table.not_active_broker_profile'|trans({}, 'house') }}
                                </wa-tooltip>
                                <wa-icon name="exclamation" class="hec-icon"
                                         id="{{ 'house_broker_profile_' ~ house.id }}"></wa-icon>
                            {% elseif (house.hasActiveBrokerProfile is null) %}
                                <wa-tooltip for="{{ 'house_broker_profile_null' ~ house.id }}">
                                    {{ 'table.not_set_broker_profile'|trans({}, 'house') }}
                                </wa-tooltip>
                                <wa-icon name="triangle-exclamation" class="hec-icon"
                                         id="{{ 'house_broker_profile_null' ~ house.id }}"></wa-icon>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center gap-2 justify-end">
                            {% if( not house.isCurrent) %}
                                <twig:BtnAction
                                    method="POST"
                                    action="{{ path('app_house_visit', {id: house.id}) }}"
                                    csrf="{{ csrf_token('house_visit' ~ house.id) }}"
                                    iconName="play"
                                >
                                </twig:BtnAction>
                            {% endif %}
                            <wa-button appearance="plain" href="{{ path('app_house_update', {id: house.id}) }}"
                                       target="_top">
                                <wa-icon name="edit"></wa-icon>
                            </wa-button>
                            <twig:DeleteDialog routeName="app_house_delete" id="{{ house.id }}"></twig:DeleteDialog>

                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <twig:Pagination routeName="app_house" page="{{ pagination.page }}" perPage="{{ pagination.perPage }}"
                     lastPage="{{ pagination.lastPage }}"></twig:Pagination>
</turbo-frame>
