<turbo-frame id="house_table">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.name }}</td>
                <td>{{ house.description }}</td>
                <td>
                    <twig:DeleteDialog routeName="app_house_delete" id="{{ house.id }}"></twig:DeleteDialog>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <twig:Pagination routeName="app_house" page="{{ page }}" perPage="{{ perPage }}" lastPage="{{ lastPage }}"></twig:Pagination>
</turbo-frame>
