{% extends 'auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

    <wa-card class="mt-5 w-full max-w-sm sm:max-w-md lg:max-w-lg">
    <h1 class="h3 mb-3 font-weight-normal text-center">{{'login'|trans({}, 'common')}}</h1>
    
    
    <form method="post" class="grid grid-cols-1 gap-1">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <wa-input label="Email" type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus></wa-input>
        <wa-input label="Password" type="password" name="_password" id="password" autocomplete="current-password" required></wa-input>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        <div class="flex justify-end">
        <a href="#">Forgot password?</a>
        </div>
        <wa-button type="submit">
            {{'login'|trans({}, 'common')}}
        </wa-button>
    </form>
    <div class="flex justify-center gap-0.5 mt-1">
        <div>Ještě nemáte účet? </div>
        <a href="{{ path('app_register') }}">Registruj se </a>
    </div>
    </wa-card>
{% endblock %}
