{% extends 'logged.html.twig' %}

{% block title %}Hello HouseController!{% endblock %}

{% block content %}
    <div class="max-w-[50rem]">
        <div class="flex items-center justify-between">
            <h3>Performance profile</h3>
            <wa-button appearance="plain outlined" href="{{ path('app_performance_profile') }}">
                <wa-icon name="chevron-left"></wa-icon>
            </wa-button>
        </div>
        {{ form_start(form) }}
        <div class="gap-1 flex flex-col">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.type) }}
            {{ form_row(form.performanceIndex) }}
            {{ form_row(form.houseId) }}
            {{ form_row(form.profileDay) }}
            {{ form_row(form.profileWeek) }}
            {{ form_row(form.profileMonth) }}
            {{ form_row(form.profileYear) }}
        </div>
        <wa-button type="submit" class="w-full mt-2">{{ 'save'|trans({}, 'common') }}</wa-button>
        {{ form_end(form) }}
    </div>
{% endblock %}
