{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}


    <wa-card class="mt-5 w-full max-w-sm sm:max-w-md lg:max-w-lg">
    <h1 class="h3 mb-3 font-weight-normal text-center">{{'register'|trans({}, 'common')}}</h1>

    {# {{ form_errors(registrationForm) }} #}

    {{ form_start(registrationForm) }}
        <div class="gap-1 flex flex-col">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <wa-button type="submit" class="w-full mt-2">Register</wa-button>
    {{ form_end(registrationForm) }}
    <div class="flex justify-center gap-0.5 mt-1">
        <div>Už nemáte účet? </div>
        <a href="{{ path('app_login') }}">Přihlašte se </a>
    </div>

    </wa-card>
    
{% endblock %}
