{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <wa-card class="mt-5 w-full max-w-sm sm:max-w-md lg:max-w-lg">
    <h1 class="h3 mb-3 font-weight-normal text-center">{{'register'|trans({}, 'common')}}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <wa-button type="submit">Register</wa-button>
    {{ form_end(registrationForm) }}

    </wa-card>
{% endblock %}
