{# Globální obalení pole: widget + error #}
{% block form_row %}
    <div class="wa-field">
        {{ form_widget(form) }}

        {% if errors|length > 0 %}
            <div class="text-red-500">
                {% for error in errors %}
                    <div>{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


{# === Konkrétní typy polí === #}

{% block text_widget %}
    <wa-input
        type="text"
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-input>
{% endblock %}

{% block number_widget %}
    <wa-input
        type="number"
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-input>
{% endblock %}

{% block range_widget %}
    <wa-slider
        type="range"
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        with-markers
        with-tooltip
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-slider>
{% endblock %}

{% block password_widget %}
    <wa-input
        type="password"
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-input>
{% endblock %}

{% block email_widget %}
    <wa-input
        type="email"
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-input>
{% endblock %}

{% block textarea_widget %}
    <wa-textarea
        as="textarea"
        id="{{ id }}"
        name="{{ full_name }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        value="{{ value }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    ></wa-textarea>
{% endblock %}

{% block choice_widget %}
    <wa-select
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    >
        {% for option in choices %}
            <wa-option value="{{ option.value }}">{{ option.label }}</wa-option>
        {% endfor %}
    </wa-select>
{% endblock %}

{%- block checkbox_widget -%}
    <wa-checkbox
        type="text"
        id="{{ id }}"
        name="{{ full_name }}"
        checked="{{ value }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    >
    {{ label|trans(label_translation_parameters|default({}), translation_domain) }}
    </wa-checkbox>
{%- endblock checkbox_widget %}

{%- block chart_widget -%}
    <hec-chart
        id="{{ id }}"
        name="{{ full_name }}"
        type="{{ type }}"
{#        label="{{ label|trans(label_translation_parameters|default({}), translation_domain) }}"#}
        data="{{ value|json_encode|e('html_attr') }}"
        labels="{{ labels|json_encode|e('html_attr') }}"
        label="{{ label }}"
        backgroundColor="{{ backgroundColor }}"
        borderColor="{{ borderColor }}"
        borderWidth="{{ borderWidth }}"
        dragData="{{ dragData }}"
        {% if required %}required{% endif %}
        {% for attrname, attrvalue in attr %}
            {{- attrname }}="{{ attrvalue }}"
        {% endfor %}
    >
    </hec-chart>
{%- endblock chart_widget %}
