{% extends 'auth.html.twig' %}
{% trans_default_domain 'auth' %}
{% block title %}{{ 'reset_password.check_email.title'|trans}}{% endblock %}

{% block content %}
    <p>
        {{ 'reset_password.check_email.text'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'reset_password.check_email.spam'|trans}}
        <a href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans({}, 'common')}}</a>.
    </p>
{% endblock %}
