{% extends 'auth.html.twig' %}
{% trans_default_domain 'auth' %}
{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'reset_password.title'|trans }}</h1>

    {{ form_start(resetForm) }}
    <div class="gap-1 flex flex-col">

        {{ form_row(resetForm.plainPassword) }}
    </div>
    <wa-button type="submit" class="mt-2 w-full">{{ 'reset_password.action'|trans }}</wa-button>
    {{ form_end(resetForm) }}
{% endblock %}
