<turbo-frame id="consumption_profile_table">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Consumption Index</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for consumptionProfile in consumptionProfiles %}
            <tr>
                <td>
{#                    {% if(consumptionProfile.isSelected) %}#}
{#                        <wa-icon name="check-circle" class="hec-icon"></wa-icon>#}
{#                    {% endif %}#}
                </td>
                <td>{{ consumptionProfile.name }}</td>
                <td>{{ consumptionProfile.description }}</td>
                <td>
                    <div class="flex items-center gap-2 justify-end">
{#                        {% if( not consumptionProfile.isSelected) %}#}
{#                            <form method="POST" action="{{ path('app_consumption_profile_visit', {id: consumptionProfile.id}) }}">#}
{#                                <input type="hidden" name="_token" value="{{ csrf_token('visit' ~ consumptionProfile.id) }}">#}
{#                                <wa-button type="submit" appearance="plain">#}
{#                                    <wa-icon name="play" class="hec-icon"></wa-icon>#}
{#                                </wa-button>#}
{#                            </form>#}
{#                        {% endif %}#}
                        <wa-button appearance="plain" href="{{ path('app_consumption_profile_update', {id: consumptionProfile.id}) }}"
                                   target="_top">
                            <wa-icon name="edit"></wa-icon>
                        </wa-button>
                        <twig:DeleteDialog routeName="app_consumption_profile_delete" id="{{ consumptionProfile.id }}"></twig:DeleteDialog>

                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <twig:Pagination routeName="app_consumption_profile" page="{{ pagination.page }}" perPage="{{ pagination.perPage }}"
                     lastPage="{{ pagination.lastPage }}"></twig:Pagination>
</turbo-frame>
