<turbo-frame id="consumption_profile_table">
    <table>
        <thead>
        <tr>

            <th></th>
            <th>{{ 'table.name'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.description'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.type'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.performance_index'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.profile.day'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.profile.week'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.profile.month'|trans({}, 'consumption_profile') }}</th>
            <th>{{ 'table.profile.year'|trans({}, 'consumption_profile') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for consumptionProfile in consumptionProfiles %}
            <tr>
                <td>
                    {% if(consumptionProfile.isCurrent) %}
                        <wa-icon name="check-circle" class="hec-icon"></wa-icon>
                    {% endif %}
                </td>
                <td>{{ consumptionProfile.name }}</td>
                <td>{{ consumptionProfile.description }}</td>
                <td>{{ consumptionProfile.type.value }}</td>
                <td>{{ consumptionProfile.consumptionIndex }}</td>
                <td> <hec-chart showLabelsY="{{ false }}" backgroundColor="#fd9a00" showLegend="{{ false }}" showTitle="{{ false }}" labels="{{range(1, 24) | map(v => '')|json_encode }}" data="{{ consumptionProfile.profileDay|json_encode }}" class="h-10 w-20"></hec-chart></td>
                <td> <hec-chart showLabelsY="{{ false }}" backgroundColor="#fd9a00" showLegend="{{ false }}" showTitle="{{ false }}" labels="{{range(1, 7) | map(v => '')|json_encode }}" data="{{ consumptionProfile.profileWeek|json_encode }}" class="h-10 w-20"></hec-chart></td>
                <td> <hec-chart showLabelsY="{{ false }}" backgroundColor="#fd9a00" showLegend="{{ false }}" showTitle="{{ false }}" labels="{{range(1, 4) | map(v => '')|json_encode }}" data="{{ consumptionProfile.profileMonth|json_encode }}" class="h-10 w-20"></hec-chart></td>
                <td> <hec-chart showLabelsY="{{ false }}" backgroundColor="#fd9a00" showLegend="{{ false }}" showTitle="{{ false }}" labels="{{range(1, 12) | map(v => '')|json_encode }}" data="{{ consumptionProfile.profileYear|json_encode }}" class="h-10 w-20"></hec-chart></td>
                <td>
                    <div class="flex items-center gap-2 justify-end">
                        {% if( not consumptionProfile.isCurrent) %}
                            <form method="POST" action="{{ path('app_consumption_profile_switch_profile', {id: consumptionProfile.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('visit' ~ consumptionProfile.id) }}">
                                <wa-button type="submit" appearance="plain">
                                    <wa-icon name="play" class="hec-icon"></wa-icon>
                                </wa-button>
                            </form>
                        {% endif %}
                        <wa-button appearance="plain" href="{{ path('app_consumption_profile_update', {id: consumptionProfile.id}) }}"
                                   target="_top">
                            <wa-icon name="edit"></wa-icon>
                        </wa-button>
                        <twig:DeleteDialog routeName="app_consumption_profile_delete" id="{{ consumptionProfile.id }}"></twig:DeleteDialog>

                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <twig:Pagination routeName="app_consumption_profile" page="{{ pagination.page }}" perPage="{{ pagination.perPage }}"
                     lastPage="{{ pagination.lastPage }}"></twig:Pagination>
</turbo-frame>
